<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./static/style.css"> -->
    <link rel="stylesheet" href="./static/event.css">
    <!-- font awesome link -->
    <link rel="stylesheet" href="./static/all.css">
    <link href="https://stackpath.bootstrapcdn.com/.../font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">
    <!-- aos link -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- font family link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans:wght@100&family=Lexend+Deca&family=Livvic:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <!-- -------------------owl carousel-------------------  -->
    <link rel="stylesheet" href="./cssfolder/owl.carousel.min.css">
    <link rel="stylesheet" href="./cssfolder/owl.theme.default.min.css">
</head>

<body>
    <!-- -----------------------navbar---------------------------- -->

    <nav class="nav vis-nav">
        <div class="nav-menu flex-row">

            <div class="openmenu"><i class="fas fa-bars"></i></div>

            <div class="nav-brand">
                <a href="#" class="text-grey"><img src="../static/logo.png" alt="" srcset=""></a>
            </div>

            <ul class="nav-items vis-items">
                <li class="nav-links"><a href="/">Home</a></li>
                <li class="nav-links"><a href="/events">Events</a></li>
                <!-- <li class="nav-links"><a href="/blogs">Blogs</a></li>
                <li class="nav-links"><a href="/initiative">Our Initiatives</a></li> -->
                <li class="nav-links"><a href="/members">Members</a></li>
                <li class="nav-links"><a href="/contact">Contact Us</a></li>
            </ul>

            <div class="closemenu"><i class="fas fa-times"></i></div>

            <div class="social-menu vis-socials">
                <ul class="social-items">
                    <a href="https://www.instagram.com/akkara_nitt/"><img src="../static/instagram.png"></a>
                    <a href="https://m.facebook.com/AkkaraIG/"><img src="../static/facebook.png"></a>
                    <a href="https://youtube.com/channel/UCoC-Un_SZmiJrLTJ2maYuDg"><img src="../static/youtube.png"></a>
                    <a href="https://www.linkedin.com/company/akkara"><img src="../static/linkedin.png"></a>


                </ul>
            </div>
        </div>

    </nav>
    <hr>
    <!-- -------------X----------navbar----------X------------------ -->
    <!-- -----------------------site-title---------------------------- -->
    <div>
        <section class="uni-class">
            <h2>Our Events</h2>
            <div class="event1">
                <div class="audio" data-aos="fade-right" data-aos-delay="200"><iframe src="https://anchor.fm/akkara/embed/episodes/This-is-our-2nd-episode-of-season-1-e190htt/a-a6nsr7b" height="102px" width="400px" frameborder="0" scrolling="no"></iframe></div>
                <div class="event-detail" data-aos="fade-left" data-aos-delay="200">
                    <h1>Podcast</h1>
                    <p>
                        Conducting interview with experts and entrepreneurs in the field of agriculture 1st edition - Today, Mr.Shivakumar, MIT Organic Farm - Erode.<br><br> The inspiring journey of Mr. Sivakumar and his valuable thoughts on organic farming.

                    </p>
                </div>

            </div>
            <div class="event1">
                <div class="event-detail" data-aos="fade-right" data-aos-delay="200">
                    <h1>Village visit</h1>
                    <p>
                        “வரப்புயர நீர் உயரும்<br> நீர் உயர நெல் உயரும்<br> நெல் உயரக் குடி உயரும்<br> குடி உயரக் கோல் உயரும்<br> கோல் உயரக் கோன் உயர்வான்”<br> <br>Frequent visit help to create the bond with villagers and help to connects easily.<br> This
                        familiarity helps to organise the villages for events and awareness camp.<br> Gives clear picture of practical problem face by them. Problems faced: <br>1. Water scarcity<br>2. Loans <br>3. Farmers subsidy<br>4. Machinery

                    </p>
                </div>
                <div class="event" data-aos="fade-left" data-aos-delay="200">
                    <img src="../static/villagevisit2.jpg" alt="">
                </div>
            </div>


            <div class="event1">
                <div class="event" data-aos="fade-right" data-aos-delay="200">
                    <img src="../static/nutrition-img.PNG" alt="">
                </div>
                <div class="event-detail" data-aos="fade-left" data-aos-delay="200">
                    <h1>Nutrition week Quizzes</h1>
                    <p>
                        Poster series and exciting quizzes on our Instagram handle. Initiative to spread awareness on tradition, technology and facts related to farming.
                    </p>
                </div>

            </div>


        </section>
    </div>



    <!-- -------------X----------site-title------------X---------------- -->



    <!-- --------------------------------footer---------------------------- -->
    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quia atque nemo ad modi officiis iure, autem nulla tenetur repellendus.</p>
            </div>
            <!-- <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
                <h2>Newsletter</h2>
                <p>Stay update with our latest</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div> -->
            <div class="form-element">
                <a href="/contact"><button class="btn">contact now</button></a>
            </div>
            <div class="instagram" data-aos="fade-left" data-aos-delay="200">
                <h2>Instagram</h2>
                <div class="flex-row">
                    <img src="../static/assets/instagram/thumb-card3.png" alt="insta1">
                    <img src="../static/assets/instagram/thumb-card4.png" alt="insta2">
                    <img src="../static/assets/instagram/thumb-card5.png" alt="insta3">
                </div>
                <div class="flex-row">
                    <img src="../static/assets/instagram/thumb-card6.png" alt="insta4">
                    <img src="../static/assets/instagram/thumb-card7.png" alt="insta5">
                    <img src="../static/assets/instagram/thumb-card8.png" alt="insta6">
                </div>
            </div>
            <div class="follow" data-aos="fade-left" data-aos-delay="200">
                <h2>Follow us</h2>
                <p>Let us be Social</p>
                <ul class="social-items">
                    <a href="https://www.instagram.com/akkara_nitt/"><img src="../static/instagram (1).png"></a>
                    <a href="https://m.facebook.com/AkkaraIG/"><img src="../static/facebook (1).png"></a>
                    <a href="https://www.linkedin.com/company/akkara"><img src="../static/linkedin (1).png"></a>
                    <a href="#"><img src="../static/twitter (1).png"></a>
                    <a href="https://youtube.com/channel/UCoC-Un_SZmiJrLTJ2maYuDg"><img src="../static/youtube (1).png"></a>
                </ul>
                <div>

                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2021 All rights reserved | Akkara
            </h4>
        </div>

        <!-- <div class="move-up">
            <a href="#"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
        </div>  -->
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js">
    </script>
    <script src="../static/owl.carousel.min.css"></script>
    <script src="../static/owl.theme.default.min.css"></script>
    <script src="../static/jquery-3.6.0.min.js"></script>
    <script src="../static/owl.carousel.min.js"></script>
    <script src="../static/main.js"></script>
</body>

</html>