<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/style.css">
    <!-- font awesome link -->
    <link rel="stylesheet" href="./static/all.css">
    <link href="https://stackpath.bootstrapcdn.com/.../font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">
    <!-- font family link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans:wght@100&family=Lexend+Deca&family=Livvic:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <!-- font-family: 'Abel', sans-serif;
     font-family: 'Anton', sans-serif;
     font-family: 'Josefin Sans', sans-serif;
     font-family: 'Lexend Deca', sans-serif;
     font-family: 'Livvic', sans-serif; -->

    <!-- -------------------owl carousel-------------------  -->
    <link rel="stylesheet" href="../static/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/owl.theme.default.min.css">
    <!-- ---------------------swiper--------------------------------- -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!-- -------------------------------aos------------------------------ -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>

    <!-- -----------------------navbar---------------------------- -->

    <nav class="nav vis-nav">
        <div class="nav-menu flex-row">

            <div class="openmenu"><i class="fas fa-bars"></i></div>

            <div class="nav-brand">
                <a href="#" class="text-grey"><img src="../static/logo.png" alt="" srcset=""></a>
            </div>

            <ul class="nav-items vis-items">
                <li class="nav-links"><a href="/">Home</a></li>
                <li class="nav-links"><a href="/events">Events</a></li>
                <li class="nav-links"><a href="/blogs">Blogs</a></li>
                <li class="nav-links"><a href="/initiative">Our Initiatives</a></li>
                <li class="nav-links"><a href="/members">Members</a></li>
                <li class="nav-links"><a href="/contact">Contact Us</a></li>
            </ul>

            <div class="closemenu"><i class="fas fa-times"></i></div>

            <div class="social-menu vis-socials">
                <ul class="social-items">
                    <a href="#"><img src="../static/instagram.png"></a>
                    <a href="#"><img src="../static/facebook.png"></a>
                    <a href="#"><img src="../static/gmail.png"></a>
                    <a href="#"><img src="../static/twitter.png"></a>


                </ul>
            </div>
        </div>

    </nav>

    <!-- -------------X----------navbar----------X------------------ -->

    <!-- -----------------------site-title---------------------------- -->
    <div>
        <section class="site-title">
            <div class="site-background">
                <!-- <h3>Agricultural club of NITT</h3> -->
                <h1>AKKARA</h1>
                <button class="btn">Explore</button>
            </div>


        </section>
    </div>
    <!-- -------------X----------site-title------------X---------------- -->
    <!-- -----------------------Who are we ---------------------------- -->
    <div id="wrw">
        <hr class="hr">
        <h1 data-aos="fade-up" data-aos-delay="400">Who are we?</h1>
        <div class="wrw-container">
            <div class="iframe-container" data-aos="fade-right" data-aos-delay="400"><iframe width="560" height="315" src="https://www.youtube.com/embed/b2eATDsLbAM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

            <p data-aos="fade-left" data-aos-delay="400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor praesentium, vel explicabo nam ratione facere nemo officia exercitationem. Hic, aliquid, dolore blanditiis nostrum quod asperiores ullam inventore incidunt animi maxime nemo
                iste. Voluptatum facere nemo ipsa velit eligendi voluptas expedita earum praesentium perspiciatis cumque, magnam fugiat libero sit sequi odit, exercitationem tempora iure voluptatem beatae eos consequatur veritatis assumenda!<br>
                <br><br> vel praesentium deserunt ratione velit eaque tempore dolorum animi accusantium similique a tempora qui illum, facere minus sapiente molestiae odit eum minima voluptatibus amet inventore quia. Excepturi porro enim debitis neque
                error corrupti laudantium consequatur, vero deleniti exercitationem.</p>
        </div>
        <hr class="hr">
    </div>


    <!-- ------------x-----------Who are we ---------------x------------- -->
    <!-- -----------------------moto --------------------------- -->
    <div class="uni-con">
        <h1>Our motto</h1>
        <section class="moto-container">
            <div class="moto-container2" data-aos="fade-up" data-aos-delay="400">
                <div class="moto-container3">
                    <img src="../static/moto1.png" alt="" srcset="">&nbsp;&nbsp;
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="moto-container3">
                    <img src="../static/moto2.png" alt="" srcset="">&nbsp;&nbsp;
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

            </div>
            <div class="moto-container2" data-aos="fade-down" data-aos-delay="400">
                <div class="moto-container3">
                    <img src="../static/moto3.png" alt="" srcset="">&nbsp;&nbsp;
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="moto-container3">
                    <img src="../static/moto4.png" alt="" srcset="">&nbsp;&nbsp;
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

            </div>
            <div class="moto-container2" data-aos="fade-up" data-aos-delay="400">
                <div class="moto-container3">
                    <img src="../static/moto5.png" alt="" srcset="">&nbsp;&nbsp;
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="moto-container3">
                    <img src="../static/moto6.png" alt="" srcset=""> &nbsp;&nbsp;
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

            </div>


        </section>
    </div>


    <!-- ------------x---------------------moto----------x----------------------- -->

    <!-- ----------------------------------events------------------------------------ -->
    <!-- Slider main container -->
    <section class="event-shareus-container">
        <div class="swiper" data-aos="flip-up" data-aos-delay="200">
            <h1 id="hi">Our events</h1>

            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <h1>Podcast</h1>
                    <img src="../static/bg1.jpeg" alt="" srcset="">
                </div>
                <div class="swiper-slide">
                    <h1>Did you know</h1>
                    <img src="../static/bg2.jpeg" alt="">
                </div>
                <div class="swiper-slide">
                    <h1>Quiz</h1>
                    <img src="../static/bg3.jpeg"> </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>

        <div class="shareus">
            <section id="contact">
                <h1 id="hi">Share with us</h1>

                <form action="/Contact" method="POST">

                    <div class="input-contactus" data-aos="fade-left" data-aos-delay="200">
                        <label for="name">Name:</label><br>
                        <input type="text" id="name" name="name" placeholder="Enter your name">
                    </div>
                    <div class="input-contactus" data-aos="fade-left" data-aos-delay="200">
                        <label for="email">Email:</label><br>
                        <input type="email" id="email" name="email" placeholder="Enter your Email">
                    </div>
                    <div class="input-contactus" data-aos="fade-left" data-aos-delay="200">
                        <label for="number">phone numbe:</label><br>
                        <input type="number" id="number" name="number" placeholder="Enter your Contact number">
                    </div>
                    <div class="input-contactus" data-aos="fade-left" data-aos-delay="200">
                        <label for="mssg">Suggestions:</label><br>
                        <textarea type="text" columns="30" rows="10" name="message" id="mssg"></textarea>
                    </div>
                    <button class="btn" data-aos="fade-left" data-aos-delay="200">Submit</button>


                </form>
            </section>
        </div>
    </section>








    <!-- ---------------x-------------------events-------------------------x----------- -->

    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quia atque nemo ad modi officiis iure, autem nulla tenetur repellendus.</p>
            </div>
            <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
                <h2>Newsletter</h2>
                <p>Stay update with our latest</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
            <div class="instagram" data-aos="fade-left" data-aos-delay="200">
                <h2>Instagram</h2>
                <div class="flex-row">
                    <img src="../static/assets/instagram/thumb-card3.png" alt="insta1">
                    <img src="../static/assets/instagram/thumb-card4.png" alt="insta2">
                    <img src="../static/assets/instagram/thumb-card5.png" alt="insta3">
                </div>
                <div class="flex-row">
                    <img src="../static/assets/instagram/thumb-card6.png" alt="insta4">
                    <img src="../static/assets/instagram/thumb-card7.png" alt="insta5">
                    <img src="../static/assets/instagram/thumb-card8.png" alt="insta6">
                </div>
            </div>
            <div class="follow" data-aos="fade-left" data-aos-delay="200">
                <h2>Follow us</h2>
                <p>Let us be Social</p>
                <ul class="social-items">
                    <a href="#"><img src="../static/instagram (1).png"></a>
                    <a href="#"><img src="../static/facebook (1).png"></a>
                    <a href="#"><img src="../static/gmail (1).png"></a>
                    <a href="#"><img src="../static/twitter (1).png"></a>
                    <a href="#"><img src="../static/youtube (1).png"></a>



                </ul>
                <div>

                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2021 All rights reserved | Akkara
            </h4>
        </div>
        <!-- <div class="move-up">
            <a href="#"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
        </div> -->
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js">
    </script>
    <script src="../static/main.js"></script>

</body>