/* css reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    overscroll-behavior-x: none;
}


/* ---------------------------universal----------------------------- */

a {
    text-decoration: none;
    color: black;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    margin: 40px;
    color: black;
    font-size: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: #b3ebef;
    width: 170px;
    border: 1px solid transparent;
}

.btn:hover {
    background-color: transparent;
    /* color: white; */
    border: 2px solid white;
}

.blog .container {
    margin: 10px 10px;
    margin-left: 47px;
}


/* --------------X-------------universal------------X----------------- */


/* ---------------------------navbar----------------------------- */

.nav {
    background-color: #ffffff73;
    color: black;
    /* position: sticky;
    top: 0px;
    z-index: 4; */
}

.nav .nav-brand a {
    font-size: 1.5rem;
    padding: 5px 5px;
    position: relative;
    font-family: 'Lexend Deca', sans-serif;
}

.nav .nav-brand {
    margin-left: 10px;
}

.nav .nav-brand img {
    height: 70px;
    width: 90px;
}

.nav .nav-items {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.nav .nav-items .nav-links {
    font-size: 1.1rem;
    margin: 0px 0px;
    padding: 20px 0px;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    list-style: none;
}

.nav .nav-items .nav-links:hover {
    background-color: skyblue;
    color: white;
}

.nav .nav-items .nav-links a:hover {
    color: white;
    font-weight: bold;
}

.nav .nav-items .nav-links a {
    padding: 34px 20px;
    text-decoration: none;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .social-items {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.nav .social-items img {
    height: 20px;
    width: 20px;
    margin-top: 9px;
}

.nav .social-items a {
    margin: 5px 5px;
    padding: 5px 5px;
}

.nav .social-items a:hover {
    color: #8790b1;
}

.openmenu {
    display: none;
    color: white;
}

.closemenu {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.hi {
    display: flex;
    flex-direction: row;
}


/* --------------X-------------navbar-------------X--------------- */


/* ---------------------------------site-main--------------------------- */

.uni-class h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    color: #a3a3a3;
    margin-top: 10px;
}

.event1 {
    display: flex;
    margin: 50px 160px 100px 160px;
}

.vid1 video {
    height: fit-content;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.vid1 {
    margin-right: 30px;
}

.event-detail h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

.event-detail p {
    font-family: 'Abel', sans-serif;
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}

.event img {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}


/* --------------------x-------------site-main-------------x-------------- */


/* -----------------------------footer-------------------------------------- */

footer.footer {
    height: 100%;
    background: black;
    position: relative;
    overflow-x: hidden;
}

footer.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container>div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2 {
    color: white;
}

footer.footer .newsletter .form-element {
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input {
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span {
    background: skyblue;
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div>img {
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i {
    color: white;
    padding: 0 .4rem;
}

footer.footer .rights {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer.footer .rights h4 a {
    color: white;
}

footer.footer .move-up {
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span {
    color: midnightblue;
}

footer.footer .move-up span:hover {
    color: white;
    cursor: pointer;
}

.footer p {
    color: grey;
    margin-top: 15px;
}

.footer h4 {
    color: grey;
}

.social-items img {
    height: 20px;
    width: 20px;
    margin-top: 9px;
    margin-right: 4px;
}


/* ---------x------- Footer ----------x---------- */